@font-face {
  font-family: "iconfont"; /* Project id 4747974 */
  src: url('iconfont.woff2?t=1731739207282') format('woff2'),
       url('iconfont.woff?t=1731739207282') format('woff'),
       url('iconfont.ttf?t=1731739207282') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-test:before {
  content: "\e606";
}

.icon-test1:before {
  content: "\e61d";
}

.icon-test2:before {
  content: "\e672";
}

.icon-test3:before {
  content: "\e6ad";
}

